/* BlueBerry Styles */
.blue-berry-login-body {
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
}

.mainmenu {
    visibility: hidden;
}

.footer-content, .footer-features,
.wrapper-main header .container-max>.row {
    display: none;
}