/* BlueBerry Styles */
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.btn-primary, .widget-address.widget-primary .btn-primary,
.btn-primary:hover, .widget-address.widget-primary .btn-primary:hover {
    color: #fff;
    background-color: #132479;
    border-color: #132479;
}

a, a:hover {
    color: #132479;
}

.blue-berry-login-body {
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: top center;
    background-size: cover;
}

body>#vue-app, body>#vue-error {
    background-color: transparent;
}

.input-unit {
    border: 0px;
    margin-bottom: 0px;
}

.input-unit input[type="text"],
.input-unit input[type="email"],
.input-unit input[type="password"] {
    border: 1px solid #ddd;
}

.mainmenu, .login-view-title {
    visibility: hidden;
}

.footer-content, .footer-features,
.wrapper-main header .container-max>.row {
    display: none;
}

#page-body {
    position: fixed;
    width: 350px;
    height: auto;
    margin-bottom: 0px;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.7);
    right: 5%;
    bottom: 10%;
    /* transform: translate(0%,-50%); */
}

.register #page-body {
    width: 450px;
    background-color: rgba(221, 221, 221, 0.9);
    padding: 20px;
}

.bb-main-disclaimer {
    padding: 10px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: #fff;
    text-align: right;
    width: 100%;
    height: auto;
    border-top: 1px solid #ddd;
    font-size: 12px;
    line-height: 14px;
    color: #666;
}

.bb-login-holder {
    padding: 15px;
    text-align: left;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.loginTextDescription {
    font-size: 12px;
    line-height: 14px;
}

.registration-holder-address .input-unit {
    margin-bottom: 20px;
}

.space10 {
    clear: both;
    display: block;
    position: relative;
    width: 100%;
    height: 10px;
}

.space20 {
    clear: both;
    display: block;
    position: relative;
    width: 100%;
    height: 20px;
}

.top-bar {
    background-color: #ffffff !important;
}

@media only screen and (max-width: 768px) {
    #page-body {
        position: relative;
        left: inherit;
        top: inherit;
        margin-top: 100px;
        transform: none!important;
        width: 100%;
    }

    .login #page-body {
        width: 100%;
        margin-bottom: 50px;
    }

    .register #page-body {
        width: 100%;
        margin-bottom: 90px;
        margin: 10px 20px 10px 20px;
    }

    .blue-berry-login-body {
        background-position: center center;
    }
}