body,
body>#vue-app,
body>#vue-error {
    background-color: #ffffff;
}

.navbar {
    background-color: #ffffff;
    border-top: 1px solid #123479;
    border-bottom: 1px solid #123479 !important;
}


.wrapper-main>nav.container-max {
    background: #ffffff;
    border-bottom: 1px solid #123479;
}

.page-content {
    background-color: #ffffff;
}

.top-bar {
    background-color: #ffffff;
}

.controls-list .nav-link[aria-expanded="true"] {
    background-color: #ffffff;
}

.top-bar .controls-list>li a:not(.btn) {
    color: #000000;
}

.control-user .dropdown .dropdown-menu a {
    background-color: #e3e7eb;
}

.top-bar .cmp {
    background: #e3e7eb;
}

.top-bar .cmp-search-box {
    background-color: #e3e7eb;
}

.top-bar .nav-link {
    color: #000000;
}

.cmp-product-thumb:hover {
    -website-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
}

#mainNavbarCollapsable ul.mainmenu {
    color: #000000;
}

.no-touch #mainNavbarCollapsable ul.mainmenu>li:hover,
.touch #mainNavbarCollapsable ul.mainmenu>li.hover {
    color: #000000;
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}

.top-bar .controls-list>li a:not(.btn):hover {
    background-color: #ffffff;
    color: #000000;
    border-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: -1 1px 5px 0 rgba(0, 0, 0, 0.15);
}

.anicon>.anicon-search-item:before {
    background: #000000;
}

.anicon.anicon-search-xcross[aria-expanded="false"]:hover>.anicon-search-item:after {
    background: #4D4F4D;
}

.top-bar .controls-list .control-basket .toggle-basket-preview {
    background-color: #ffffff;
    color: #000000;
}

.top-bar .controls-list .control-basket .toggle-basket-preview:hover {
    background-color: #ffffff;
}

.list-inline-item:not(:last-child) {
    margin-right: 5px !important;
}

nav.navbar:not(.megamenu) .nav-dropdown-inner li:hover {
    background: #ffffff;
}

.anicon.anicon-search-xcross[aria-expanded="true"]>.anicon-search-item:before,
.anicon.anicon-search-xcross[aria-expanded="true"]>.anicon-search-item:after {
    background: #000000;
}


.cmp-search-box {
    background-color: #ffffff;
    border-top: 1px solid #dcdbd8;
    border-bottom: 1px solid #dcdbd8;
}

.cmp-search-box .search-submit {
    color: #000000;
}

.top-bar .controls-list .control-languages a[aria-expanded="true"],
.top-bar .controls-list .control-search a[aria-expanded="true"] {
    background: #ffffff;
}

.cmp-country-settings,
.cmp-currency-select {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px solid #dcdbd8;
    border-bottom: 1px solid #dcdbd8;
}

.cmp-country-settings ul li a,
.cmp-currency-select ul li a {
    color: #000000;
    margin: 0.1rem 0rem 0.1rem 0.1rem;
}

.cmp-country-settings ul li a:hover,
.cmp-currency-select ul li a:hover {
    background-color: #ffffff;
    color: #000000;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}

.cmp-country-settings ul li.active a,
.cmp-currency-select ul li.active a {
    background-color: #ffffff;
    color: #000000;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}

.footer {
    background-color: #ffffff;
}

.footer .widget-legal-information {
    text-align: left !important;
}

.footer .widget-legal-information a {
    display: block;
}

.widget.widget-legal-texts.h4 h3 {
    font-size: 1.25rem;
}

.widget.widget-legal-texts.h4 p {
    font-size: 1rem;
    line-height: 1.5;
}

.widget.widget-legal-texts.h4 div {
    font-size: 1rem;
    line-height: 1.5;
}

.custom-box p {
    margin-bottom: 0rem;
}

.my-property {
    padding: 0 15px;
}

.discount {
    font-size: 1.8rem;
}
.crossprice {
    display: none;
}

.crossprice.det {
    display: block;
}

.crossprice .rrp {
    font-size: 1.8rem;
    line-height: 1.5;
}

.single .price {
    font-size: 1.8rem;
    line-height: 1.5;
}

.single .cmp-product-thumb .price {
    font-size: 1.2rem;
    line-height: 1;
}

.single .vat {
    color: #000000;
}

.discount-list {
    position: absolute;
    right: 27px;
    bottom: 44px;
    z-index: 99;
}

.discount-list-related {
    position: absolute;
    right: 12px;
    bottom: 14px;
    z-index: 1001;
}

h1.price {
    line-height: 1.5;
}

.mb-5.custom-properties {
    margin-bottom: 1rem !important;
}

.custom-button-price {
    margin-top: 1.8rem !important;
}

.page-background {
    background-image: url(https://cdn03.plentymarkets.com/7dqbnxov24tf/frontend/screener-bg-small.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
}

.page-background .placeholder-new {
    display: table-cell;
    vertical-align: bottom;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.page-background .placeholder-new .strap {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.7);
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.quick-nav-new {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.quick-nav-new li {
    display: inline-block;
}

.first-desc-li {
    padding: 10px;
    line-height: 14px;
    word-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

.other-desc-li {
    padding: 10px 20px
}

.page-background .placeholder-new .imprint {
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 0;
    font-size: 11px;
    line-height: normal;
    color: #132479;
    text-align: right;
}

.page-legal-disclosure hr.my-5,
.page-terms-conditions hr.my-5,
.page-privacy-policy hr.my-5 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.page-legal-disclosure p {
    margin-bottom: 0.4rem;
}

.space10 {
    height: 10px;
}

.space20 {
    height: 20px;
}

.clear {
    clear: both;
}

.last-item-pagination {
    margin-left: 5px;
}

.col-20-percent {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.other-login-bottom .nav-link:last-child {
    display: none !important;
}

.other-login-bottom .nav-link {
    padding: 0px;
}

.breadcrumbs {
    background-color: #ffffff;
    border-bottom: 1px solid #123479;
}

.breadcrumb {
    background-color: #ffffff;
}

.list-controls .list-controls-inner {
    background-color: #ffffff;
    border: 1px solid #123479;
}

.background-grey {
    margin-bottom: 20px;
    padding: 20px 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #e3e7eb;
}

.page-singleitem .price {
    margin-bottom: 3px;
}

.page-singleitem .base-price.text-muted.my-3 {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

.page-singleitem .availability.badge.availability-5 {
    margin-bottom: 7px;
}

.list-inline-item.control-user .position-relative .nav-link:last-child {
    display: none;
}

.list-inline-item.control-user .position-relative.register .nav-link {
    display: block !important;
}

#mc_embed_signup {
    background:#fff;
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
    border: 1px solid rgba(0,0,0,0.125);
}

#mc-embedded-subscribe-form input[type=checkbox] {
    width: auto !important;
    display: inline !important;
    margin-right: 10px;
}

#mc-embedded-subscribe-form input[type=radio] {
    margin-right: 10px;
}

#mergeRow-gdpr {
    margin-top: 20px;
}

#mergeRow-gdpr fieldset label {
    font-weight: normal;
}

#mc-embedded-subscribe-form .mc_fieldset {
    border:none;
    min-height: 0px;
    padding-bottom:0px;
}

#mc_embed_signup form {
    padding: 20px 15px;
}

#mc_embed_signup form .input-group {
    display: block;
}

#mc_embed_signup .mc-field-group input[type=text], #mc_embed_signup .mc-field-group input[type=email] {
    border-radius: 0px;
    border: 1px solid #dee2e6;
}
@media (min-width: 992px) {
    #mainNavbarCollapsable ul.mainmenu>li>ul {
        background-color: #ffffff;
        border-color: rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
        box-shadow: -1 1px 5px 0 rgba(0, 0, 0, 0.15);
    }

    #mainNavbarCollapsable ul.mainmenu>li>ul>li {
        color: #000000;
    }

    .no-touch #mainNavbarCollapsable ul.mainmenu>li>ul>li:hover,
    .touch #mainNavbarCollapsable ul.mainmenu>li>ul>li.hover {
        background: #ffffff;
        color: #828282;
    }
}

@media (max-width: 767px) {
    .first-desc-li {
        text-align: center;
    }

    .imprint .container-fluid {
        text-align: center;
    }

    .col-20-percent {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .discount-list {
        right: 42px;
        bottom: 29px;
    }

    .quick-nav-new {
        flex-direction: column;
    }

    .other-login-bottom .d-none.d-sm-inline {
        display: inline-block !important;
    }

    .position-relative.register .hidden-xs-down {
        display: none;
    }
}