#page-header.top-bar {
    background-color: #ffffff !important;
}

.top-bar .controls-list>li a:not(.btn) {
    color: #000000;
}


#mainNavbarCollapsable ul.mainmenu {
    color: #000000;
}

.no-touch #mainNavbarCollapsable ul.mainmenu>li:hover,
.touch #mainNavbarCollapsable ul.mainmenu>li.hover {
    color: #000000;
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}

.top-bar .controls-list>li a:not(.btn):hover {
    background-color: #ffffff;
    color: #000000;
    border-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: -1 1px 5px 0 rgba(0, 0, 0, 0.15);
}

.anicon>.anicon-search-item:before {
    background: #000000;
}

@media (min-width: 992px) {
    #mainNavbarCollapsable ul.mainmenu>li>ul {
        background-color: #ffffff;
        border-color: rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
        box-shadow: -1 1px 5px 0 rgba(0, 0, 0, 0.15);
    }

    #mainNavbarCollapsable ul.mainmenu>li>ul>li {
        color: #000000;
    }
}